<h1>Sonian Curls</h1>
<div align="center" style="padding-top:100px">
  <h4>This web page requires a barracuda.com email.</h4>
  </br>
  <%= link_to image_tag("ms-symbollockup_signin_light.png"),
      user_microsoft_office365_omniauth_authorize_path %>


</div>
