<h1>Sonian Curls</h1>
<div align="center" style="padding-top:100px">
  <h4>This web page requires a sonian.net email.</h4>
  <h4>Please use the link below to sign in with your Sonian gmail account.</h4>
  </br>
  <%= link_to image_tag("btn_google_signin_dark_normal_web.png"),
      user_google_oauth2_omniauth_authorize_path %>
</div>
