
<% roles = ["archiveAdministrator", "searchAdministrator", "complianceOfficer",
            "reviewer", "exporter", "endUser", "partnerAdministrator"] %>

<div align="right" style="margin-right:80px;">
  <table class="roles-table">
    <% roles.each do |role| %>
    <tr>
      <td> <%= label_tag("roles[]", role) %> </td>
      <td> <%= check_box_tag("roles[]", role, role_in_params?(role)) %> </td>
    </tr>
    <% end %>
  </table>
</div>
