
<h1> Sonian Curlmaker</h1></br>
<h5>Instructions/Notes:</h5></br>
<p>&middot; Use the navigation on the left side to choose an action.</p>
<p>&middot; On the curl screen simply fill in the forms and press enter. The curl
  will update with the new entries. All you have to do after that is select
  the curl text, then copy and paste to your terminal. Blank inputs will default
  back to the template value so if you want to remove something from the default
  curl you will have edit the curl manually.</p>
<p>&middot; The curls are editable so you shouldn't have to copy in to a text editing
   program simply edit in place and then copy. Just note that hitting enter
   outside of the curl box will submit the form and return everthing to the
   default or the entered form inputs.</p>
<p>&middot; Most curls are defaulted to http://localhost:8080 which is the default on
  all the nodes for curls. If you create a local tunnel to the node and use a
  different port than 8080 you'll have to update the curl manually.<p>
<p>&middot; The "domains" key and "roles" key inputs in certain Otto curls are <strong>not</strong>
  saved after submitting. If you make a spelling mistake or pick the wrong roles
  it's easiest to just edit the curl in the box rather than retype or reselect
  everything.<p>
</br>
</br>
</br>
<p>If you want to see all the curls at once you can use the
  list page located <%= link_to 'here', list_path %>.</p>
