
<% if user_signed_in? %>
 Hi, <strong><%= current_user.email %></strong>.
<% end %>

<h1> Sonian Curls</h1></br>
<h5>Instructions/Notes:</h5></br>
<p>&middot; Use the navigation on the left side to choose an action.</p>
<p>&middot; On the curl screen simply fill in the forms and press enter. The curl
  will update with the new entries.</p>
<p>&middot; Select the curl text, then copy and paste to your terminal.</p>
<p>&middot; Blank inputs will default back to the template value so if you want
  to remove something from the default curl you will have edit the curl manually.</p>
<p>&middot; Curl text is editable so you shouldn't have to copy in to a text editing
   program, simply edit in place and then copy.</p>
<p>&middot; Most curls are defaulted to http://localhost:8080 which is the default on
  all the nodes for curls. If you create a local tunnel to the node and use a
  different port than 8080 you'll have to update the curl manually.<p>
<p>&middot; The "domains" key and "roles" key inputs in certain Otto curls are always
  in the curl by default. If you don't want them in the curl you will need to remove
  them manually.<p>
</br>
</br>
</br>
<p>If you want to see all the curls at once in an ugly list you can use the
  list page located <%= link_to 'here', list_path %>.</p>
