
<% title = JSON.parse(@curl.service.gsub('=>', ':')) %>
<h3><%= title['service'] + " - " + @curl.name %></h3>

<hr>

<div class="row">

  <div class="col-xs-4">
    <%= render 'data_forms' %>
  </div>

  <div class="col-xs-8">
    <pre><%= create_curl_text(@curl, params) %></pre>
  </div>

</div>
